
<%= form_with model:@user do|form| %>
      <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% @user.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
      </div>
  
      <div>
        <%= form.label :email_id %><br>
        <%= form.text_field :email_id %>
        <% @user.errors.full_messages_for(:email_id).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
  
      <div>
        <%= form.label :phone_no %><br>
        <%= form.text_field :phone_no %>
        <% @user.errors.full_messages_for(:phone_no).each do |message| %>
          <div><%= message %></div>
         <% end %>  
      </div>

      <div>
        <%= form.submit %>
      </div>
  <% end %>
  